#footer-before {
  .blockreassurance {
    .block-icon img {
      height: 100px;
      margin-bottom: 24px;
    }
    .block-title {
      color: $fp-red !important;
      margin-bottom: 12px;
    }

    p {
      color: $fp-orange !important;
    }
  }
}
