#custom-text {
  padding: 3.125rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background: $white;
  border-radius: 2px;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray-darker;
    text-transform: uppercase;
  }

  p {
    font-size: 0.875rem;
    font-weight: 400;
    color: $gray-darker;

    .dark {
      font-size: 1.125rem;
      font-weight: 600;
      color: $gray-darker;
    }
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

.page-content.page-cms {
  padding: 1.25rem;
  // text-align: justify;
  background: $white;

  .cms-box {
    img {
      max-width: 100%;
    }
  }

  // ul {
  //   @extend p;
  //   list-style: disc inside none;
  // }
}

@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}

#product .product-additional-info {
  margin-top: 1rem;
}

.product-description {
  // * {
  //   color: $black;
  // }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  h2,
  h3,
  h4 {
    font-weight: 600;
    text-transform: none;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    color: $black;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    color: $black;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h4 {
    color: $black;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
  }

  p {
    color: $gray-darker;
    font-size: 0.9375rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  ul,
  ol {
    color: $gray-darker;
    padding-left: 1.25rem;
    list-style-position: inside;
    margin-bottom: 1.5rem;

    li {
      color: $gray-darker;
      font-size: 0.9375rem;
      color: $gray-darker;
      margin-bottom: 0.5rem;

      * {
        color: $gray-darker;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  a {
    color: $brand-primary;

    &:hover {
      color: darken($brand-primary, 10%);
    }
  }

  b {
    font-weight: 600;
  }

  table {
    width: 100% !important;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      padding: 0.75rem;
      text-align: center !important;
      border: 1px solid $gray-light;
    }

    th {
      background-color: $gray-lighter;
    }

    tbody tr:nth-of-type(odd) {
      background-color: $gray-lighter;
    }
  }
}
