.autocomplete-suggestions {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5) !important;
}

#header {
  position: sticky;
  top: 0;
  z-index: 999;
  color: $gray;
  background: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);

  .header {
    &-nav,
    &-top {
      > .container {
        @media (max-width: 991px) {
          width: 100%;
        }
      }
    }
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  #_desktop_logo {
    h1 {
      margin-bottom: 0;
    }

    img {
      transition: max-width 0.3s ease;
    }
  }

  a {
    color: $gray-darker;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .menu {
    display: inline-block;

    > ul {
      > li {
        display: inline-block;
      }
    }
  }

  .header-nav {
    // max-height: 50px;
    border-bottom: $gray-light 2px solid;
    // background: $fp-orange;
    // position: relative;

    background-size: 900px;
    min-height: 30px;
    animation: moveBackground 180s linear infinite;
    background-blend-mode: color-burn;
    background-color: $fp-orange;

    // @keyframes moveBackground {
    //   from {
    //     background-position-x: 0;
    //   }
    //   to {
    //     background-position-x: 900px;
    //   }
    // }

    div[class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    #mb-top-nav {
      display: grid;
      grid-template-areas: "leftnav multicolors rightnav";
      grid-template-columns: auto 1fr auto;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    .left-nav {
      grid-area: leftnav;
      min-width: 20vw;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .mb-shipping-info {
      padding: 0.2rem 0.5rem;
      font-size: 0.8125rem;
      color: $white;
      font-weight: bold;
      background-color: $mb-color-hot-orange;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .mb-multicolors {
      grid-area: multicolors;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));

      > * {
        &:nth-child(1) {
          background-color: $mb-color-sporty-peach;
        }

        &:nth-child(2) {
          background-color: $mb-color-kawaii-lilac;
        }

        &:nth-child(3) {
          background-color: $mb-color-kawaii-blue;
        }
      }
    }

    #menu-icon {
      margin: 0 1rem;
      vertical-align: middle;
      cursor: pointer;

      .material-icons {
        line-height: 50px;
      }
    }

    .right-nav {
      grid-area: rightnav;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    .currency-selector {
      white-space: nowrap;
      padding: 0.2rem 0.5rem;
      background-color: $fp-orange-dark;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span.expand-more {
          color: $white;
          font-size: 0.8125rem;
        }

        i.expand-more {
          color: $white;
        }
      }
    }

    .user-info {
      text-align: right;
      white-space: nowrap;

      @include media-breakpoint-down(sm) {
        img {
          height: 24px;
          width: 24px;
          object-fit: contain;
        }
      }

      .account {
        margin-left: $small-space;
      }
    }

    .language-selector {
      white-space: nowrap;
      padding: 0.2rem 0.5rem;
      background-color: $fp-orange;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span.expand-more {
          color: $white;
          font-size: 0.8125rem;
        }

        i.expand-more {
          color: $white;
        }
      }
    }

    .cart-preview {
      &.active {
        background: $brand-primary;

        a,
        i {
          color: $white;
        }
      }

      .shopping-cart {
        color: $gray;
        vertical-align: middle;
      }

      .body {
        display: none;
      }
    }

    .blockcart {
      height: 3rem;
      padding: 0.75rem;
      margin-left: 0.9375rem;
      text-align: center;
      white-space: nowrap;
      background: $gray-light;

      a {
        color: $gray;

        &:hover {
          color: $brand-primary;
        }
      }

      &.active {
        a:hover {
          color: $white;
        }
      }

      .header {
        margin-top: 0.125rem;
      }
    }

    #_desktop_contact_link {
      display: inline-block;
      background-color: $mb-color-spanish-sky-blue;

      #contact-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0.2rem 0;

        > div {
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          &:last-child {
            border-right: none;
          }
        }

        .mb-contact {
          &-us,
          &-tel {
            // display: inline-flex;
            // align-items: center;
            // justify-content: center;

            padding: 0 0.5rem;

            color: $white;
            background-color: $mb-color-spanish-sky-blue;
            font-size: 0.8125rem;

            &:hover {
              opacity: 0.8;
            }

            i {
              font-size: 1rem;
              vertical-align: middle;
              margin-right: 0.3125rem;
            }

            // i,
            // span {
            //   margin-bottom: -8px;
            // }
          }
        }
      }
    }

    .search-widget {
      margin-top: 0.2rem;
    }

    .material-icons {
      line-height: inherit;

      &.expand-more {
        margin-left: -0.375rem;
      }
    }
  }

  .header-top {
    padding: 0;

    > .container {
      position: relative;

      > .row:first-of-type {
        display: flex;
        align-items: center;
      }
    }

    .nav {
      display: grid;
      grid-template-columns: 250px 1fr 75px 75px;
      grid-template-areas: "logo search userinfo cart";
      grid-gap: 1rem;
      align-items: center;
      justify-items: center;
      padding: 12px 0;

      width: 100%;

      @include media-breakpoint-down(sm) {
        grid-template-columns: 4fr 1fr 1fr 1fr;
        grid-template-areas:
          "logo userinfo cart ."
          "search search search search";
        grid-gap: 0.5rem;
        padding: 0;

        .search-widget {
          width: 100%;
          margin: 0;

          input {
            border-radius: 0;
          }
        }

        .logo {
          justify-self: baseline;
          img {
            height: 60px;
            width: auto;
            object-fit: contain;
          }
        }
      }

      #nav-user_info {
        grid-area: userinfo;
      }
      #nav-cart {
        grid-area: cart;
      }
      .logo {
        grid-area: logo;
      }
      .search-widget {
        grid-area: search;
      }

      .user-info {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          font-weight: bold;
          font-size: 0.8125rem;
          color: $fp-orange;

          width: 100%;
          text-align: center;

          img {
            height: 28px;
            width: 28px;
            object-fit: contain;
            margin-bottom: 4px;
          }
        }
      }

      .blockcart {
        .header {
          width: 100%;
          position: relative;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-weight: bold;
            font-size: 0.8125rem;
            color: $fp-orange;
          }

          img {
            height: 28px;
            width: 28px;
            object-fit: contain;
            margin-bottom: 4px;
          }

          .cart-products-count {
            position: absolute;
            top: -10px;
            right: -10px;

            min-width: 24px;
            min-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem;
            font-weight: bold;

            color: $white;
            background: $fp-orange;
            border-radius: 50%;
            padding: 0 6px;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }

    .menu {
      padding-left: 15px;
    }

    .position-static {
      position: static;
    }

    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }

    .search-widget {
      width: 80%;

      input {
        width: 100%;
        border-radius: 50px;
        background-color: $mb-color-newspaper;
        border: none;
        padding: 0.5rem 1rem;
      }

      i {
        color: $mb-color-hot-orange;
      }
    }
  }

  .top-menu-link {
    margin-left: $medium-space;
  }

  @include media-breakpoint-down(sm) {
    .top-logo {
      display: flex;
      align-items: center;
      min-height: 50px;
      background-color: $mb-color-newspaper;

      img {
        width: auto;
        max-height: 70px;
      }

      > h1 {
        margin: 0;
      }
    }
  }
}

// .footer-subcontainer {
//   position: relative;
//   background-color: $fp-orange;

//   .mb-header-animation {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-repeat: repeat;
//     background-size: 600px;
//     background-position: center;
//     opacity: 0.1;
//     z-index: 1;
//     animation: moveBackground 180s linear infinite;
//     background-blend-mode: exclusion;
//     background-color: $fp-orange;
//     z-index: 0;

//     @keyframes moveBackground {
//       from {
//         background-position-x: 0;
//       }
//       to {
//         background-position-x: 600px;
//       }
//     }
//   }
// }
