.carousel {
  margin-bottom: 1.5rem;
  border-radius: 25px;
  overflow: hidden;

  .direction {
    z-index: auto;
  }

  .carousel-inner {
    // height: 340px;

    border-radius: 25px;
    overflow: hidden;
    margin: 0;
  }

  .carousel-item {
    height: 100%;
    border-radius: 25px;
    overflow: hidden;

    figure {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 375px;
      object-fit: cover;

      @include media-breakpoint-down(md) {
        height: auto;
      }
    }

    .caption {
      position: absolute;
      // bottom: 28px;
      // left: 90px;
      left: 50%;
      top: 50%;
      // max-width: 340px;
      color: $white;

      transform: translate(-50%, -50%);
      max-width: 75%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 75%;
      background: rgba(0, 0, 0, 0.4);
      padding: 1rem 1.5rem;
      border-radius: 10px;

      .caption-description {
        p {
          font-size: 1rem;
          color: $white;
        }

        h3 {
          font-size: 1.25rem;
          font-weight: 600;

          @include media-breakpoint-down(md) {
            font-size: 1.1rem;
          }
        }
      }

      .display-1 {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 120%;

        @include media-breakpoint-down(md) {
          font-size: 1.5rem;
        }
      }
    }

    figure {
      display: inline-block;
      margin: 0;
    }
  }

  .carousel-control {
    opacity: 1;

    .icon-next,
    .icon-prev {
      @at-root .lang-rtl & {
        .material-icons {
          transform: rotate(-180deg);
        }
      }

      &::before {
        content: "";
      }

      i {
        font-size: 3.125rem;
        color: $white;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }

    .icon-prev {
      left: 1rem;
    }

    .icon-next {
      right: 2rem;
    }

    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray;
  }

  .active {
    background-color: $gray;
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel {
    .carousel-inner {
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel {
    padding-bottom: 0.5rem;
    background-color: $gray-light;
    box-shadow: none;

    .carousel-control {
      .icon-prev,
      .icon-next {
        width: auto;
        height: auto;
      }
    }

    .carousel-item {
      .caption {
        position: static;
        margin: 1.275rem auto 2.5rem;
        text-align: center;

        .display-1 {
          font-weight: 500;
          color: $gray-darker;
        }

        .caption-description {
          h3,
          p {
            color: $gray;
          }
        }
      }
    }

    .direction {
      position: absolute;
      top: calc(50%);
      width: 100%;

      .carousel-control {
        .icon-prev {
          left: 0;
          margin-left: 0;
        }

        .icon-next {
          right: 0;
          margin-right: 0;
        }

        i {
          background: rgba(122, 122, 122, 0.5);
        }
      }
    }
  }

  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
    }

    .active {
      width: 8px;
      height: 8px;
      margin: 1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .carousel-item {
      .caption {
        .display-1 {
          font-size: 1.3rem;
        }
      }
    }

    .carousel-control {
      .icon-prev,
      .icon-next {
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
