#header {
  .ets_mm_megamenu {
    @include media-breakpoint-down(sm) {
      margin-top: 8px;
      position: absolute;
      top: 0;
      right: 0;
      width: 77px;

      .ets_mm_megamenu_content {
        border: none;
      }

      .container {
        background: transparent;
      }

      .ybc-menu-button-toggle_icon {
        scale: 1.25;
      }
    }

    .ets_mm_megamenu_content {
      > .container {
        @media (max-width: 991px) {
          width: 100%;
        }
      }

      .mm_menu_content_title {
        min-height: 40px;
      }
    }

    .ets_mm_megamenu_content,
    .ets_mm_megamenu_content_content,
    .mm_menus_ul {
      background: $fp-beige;
    }

    // .mm_block_type_category {
    //   > .h4 {
    //     > a {
    //       color: $fp-blue;

    //       @media (min-width: 768px) {
    //         color: $fp-blue !important;
    //       }
    //     }
    //   }
    //   .ets_mm_block_content {
    //     a {
    //       color: $gray-darker;

    //       &:hover {
    //         color: $fp-blue;
    //       }
    //     }
    //   }
    // }

    .h4 {
      border-bottom: none;
    }
  }

  @media (min-width: 768px) {
    .layout_layout1 .ets_mm_block_content ul li a::before {
      margin-right: 12px;
      margin-left: 0;
      color: $fp-orange;
      border-radius: 50px;
      overflow: hidden;
      width: 6px;
      height: 6px;
      background: $fp-orange;
    }
  }
}
