#category {
  #content-wrapper {
    &.as4-loader-blur {
      filter: none !important;

    }
    .as4-loader {
        display: none;
    }
  }

  #PM_ASBlockOutput_1 {
    .card-block {
      padding-left: 0;
      padding-right: 0;
    }

    .card-header {
      all: unset;

      .PM_ASBlockTitle {
        font-size: 1.5rem;
        font-weight: bold;
        color: $fp-blue;
      }
    }

    .PM_ASCriterionsGroupTitle {
      color: $fp-orange;
      font-size: 1rem;
      font-weight: bold;
      background: $fp-beige;
      padding: 8px 12px;
      border-radius: $btn-border-radius;
      border: none;
    }

    .PM_ASCriterionsGroupOuter {
      padding: 12px 8px;
    }

    .PM_ASCritRange {
      .ui-slider-range {
        background: $fp-orange;
      }

      .ui-slider-handle {
        border: 2px solid $fp-orange;
        background: $white;

        &:hover,
        &:focus {
          border-color: $fp-orange;
        }
      }
    }

    .PM_ASCriterionGroupCheckbox {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      .radio {
        input {
          display: none;
        }

        label {
          border-radius: 0;
          border: 1px solid $gray-second;
          padding: 0.5rem 0.75rem;
          margin: 0;
          cursor: pointer;

          &:hover {
            border-color: $fp-orange;
            color: $fp-orange;
          }
        }
      }
    }
  }
}
