.product-additional-info {
  .tabs {
    margin-top: 0;
    background-color: transparent;
  }
}

#product .product-additional-info {
  .tabs {
    margin-top: 1rem;
  }
}

.js-mailalert {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 0.5rem;
  }
}

.js-mailalert-add {
  background-color: $black;
  border-color: $black;

  &:hover {
    background-color: $black;
    border-color: $black;
  }
}
