.sitemap-title {
  text-transform: capitalize;
}

.sitemap {
  margin-top: 0.9375rem;

  > div {
    > div {
      padding: 14px;
      border: 1px solid $gray-light-second;
      background-color: $white;
    }
  }

  h2 {
    width: 100%;
    height: 35px;
    margin-left: -15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $gray-darker;
    text-transform: uppercase;
    border-bottom: 1px solid $gray;
  }

  ul {
    margin-top: 20px;
    margin-left: -15px;

    &.nested {
      margin-left: 20px;
    }

    li {
      font-size: 0.9rem;
    }
  }

  $tree-line-color: #e1e1e1;
  $tree-text-color: #c30000; // rouge Fairplay
  $tree-indent: 22px;

  .tree {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &:not(.nested) {
      > li {
        margin-bottom: 1rem;
      }
    }

    // 1er niveau
    > li {
      position: relative;
      padding-left: $tree-indent;

      // racine "home" si tu en as une
      > a {
        display: inline-block;
        color: $tree-text-color;
      }

      // tout ce qui descend du 1er niveau
      > ul.nested {
        margin: 0;
        padding-left: $tree-indent;
        // border-left: 1px solid $tree-line-color; // grande ligne verticale

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: calc(100% - 9px);
          background: $tree-line-color;
        }

        > li {
          position: relative;
          padding: 3px 0 3px $tree-indent;

          > a {
            display: inline-block;
            color: $tree-text-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          // petite barre horizontale qui joint la verticale au texte
          &::before {
            content: "";
            position: absolute;
            top: 1.1em; // ajuste si besoin
            left: -$tree-indent;
            width: $tree-indent;
            border-top: 1px solid $tree-line-color;
          }

          // coupe la ligne verticale après le dernier enfant
          &:last-child::after {
            content: "";
            position: absolute;
            top: 1.1em;
            left: -$tree-indent;
            bottom: -3px;
            width: 1px;
            background: #fff; // couleur de fond de ta page
          }

          // niveaux plus profonds (même style)
          > ul.nested {
            margin: 0;
            padding-left: $tree-indent;
            // border-left: 1px solid $tree-line-color;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 2px;
              height: calc(100% - 9px);
              background: $tree-line-color;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .sitemap {
    margin-top: 0;
  }
}
